$color-background-dark: #323232;
$color-text-white: #FFFFFF;
$color-highlight: #E1E1E1; 
$color-primary: #AFAFAF; 



$font-family-regular: 'AvenirNextRegular', sans-serif;
$font-family-demi: 'AvenirNextDemi', sans-serif;
$font-family-bold: 'AvenirNextBold', sans-serif;


$breakpoint-tablet: 813px;
$breakpoint-desktop: 1024px;

