@font-face {
  font-family: AvenirNextRegular;
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: AvenirNextDemi;
  src: url(../Assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: AvenirNextBold;
  src: url(../Assets/Font/AvenirNextLTPro-Bold.otf);
}
body {
  font-family: "AvenirNextRegular", "AvenirNextDemi", "AvenirNextBold";
}

html, body {
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.footer_info p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.article-about__quote {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.article-about__article {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 0;
}

.article-about__article__1 {
  padding: 16px 0;
}

.navigation {
  background: #323232;
  text-align: center;
  padding-top: 2vh;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }
}

.navigation_logo {
  width: 200px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .navigation_logo {
    margin: 0 2vh;
  }
}
@media (min-width: 1024px) {
  .navigation_logo {
    margin: 0 4vh 0 6vh;
  }
}

.navigation_logo__img {
  background: url("../Assets/Logo/Logo-bandsite.svg") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .navigation_logo__img {
    padding-top: 0.6vh;
    max-width: 80%;
    max-height: 80%;
  }
}
@media (min-width: 1024px) {
  .navigation_logo__img {
    padding-top: 0.6vh;
    max-width: 80%;
    max-height: 80%;
  }
}

.navigation_links {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .navigation_links {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
  }
}

.navigation_link {
  flex: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation_link {
    flex: none;
  }
}

.navigation_link h2 {
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  color: #FFFFFF;
}

.current-page h2 {
  border-bottom: 5px solid #FFFFFF;
}

.hero-banner {
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35vh;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero-banner {
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .hero-banner {
    height: 80vh;
  }
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1;
}

.hero-banner__text {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
  width: 90%;
}

.article-about {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.article-about__title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.article-about__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  max-width: 400px;
  margin: auto;
}
@media (min-width: 768px) {
  .article-about__img {
    max-width: 700px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .article-about__img {
    max-width: 1200px;
  }
}

.article-about__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .article-about__artikles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2vh;
  }
}
@media (min-width: 1024px) {
  .article-about__artikles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2vh;
  }
}

.article-about__article__2 {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .article-about__article__2 {
    padding-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .article-about__article__2 {
    padding-bottom: 0px;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .photo-gallery {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .photo-gallery {
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .gallery-photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 20px;
  }
}

.gallery-photo__img {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  margin: 10px 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .gallery-photo__img {
    width: 220px;
    height: 120px;
  }
}
@media (min-width: 1024px) {
  .gallery-photo__img {
    width: 400px;
    height: 240px;
  }
}

.padded-section {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .padded-section {
    padding-left: 6vh;
    padding-right: 6vh;
  }
}
@media (min-width: 1024px) {
  .padded-section {
    padding-left: 12vh;
    padding-right: 12vh;
  }
}

@media (min-width: 768px) {
  .article-about__board {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}
@media (min-width: 1024px) {
  .article-about__board {
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

.footer_info {
  background: #323232;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
}
@media (min-width: 768px) {
  .footer_info {
    padding-top: 5vh;
    gap: 40px 20px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
@media (min-width: 1024px) {
  .footer_info {
    gap: 40px 80px;
  }
}

@media (min-width: 768px) {
  .footer_5_logo img {
    margin-left: 130px;
  }
}
@media (min-width: 1024px) {
  .footer_5_logo img {
    margin-left: 100%;
  }
}

@media (min-width: 1024px) {
  .footer_end {
    flex-basis: 100%;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  .footer_1 {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .footer_1 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer_info_section_2 {
    display: flex;
    justify-content: flex-start;
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-wrap: wrap;
    flex-basis: 900px;
    flex-grow: 0;
  }
}
.footer_1__social a {
  margin-right: 30px;
}
@media (min-width: 768px) {
  .footer_logo__bandsite__mobile, .desktop_hidden {
    display: none;
  }
}
@media (min-width: 1024px) {
  .footer_logo__bandsite__mobile, .desktop_hidden {
    display: none;
  }
}

.footer_logo__bandsite, .mobile_hidden {
  display: none;
}
@media (min-width: 768px) {
  .footer_logo__bandsite, .mobile_hidden {
    display: contents;
    margin-right: 300px;
  }
}
@media (min-width: 1024px) {
  .footer_logo__bandsite, .mobile_hidden {
    display: contents;
  }
}

.footer_end {
  padding-top: 3vh;
}

.footer_end__text {
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
}

.footer_info a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=bio.css.map */