@import "../Styles/mixins";
@import "../Styles/variables";

@font-face {
    font-family: $font-family-regular;
    src: url('../Assets/Font/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: $font-family-demi;
    src: url('../Assets/Font/AvenirNextLTPro-Demi.otf');
}
@font-face {
    font-family: $font-family-bold;
    src: url('../Assets/Font/AvenirNextLTPro-Bold.otf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 16px;
}

body {
    font-family: $font-family-regular, $font-family-demi, $font-family-bold;
}

.navigation_link h2 {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 600;
    @include respond-to(tablet) {
        font-size: 1.5rem; 
        line-height: 2rem; 
        font-weight: 700;
    }
}
.article-about__quote__who {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 400;
    @include respond-to(tablet) {
        font-size: 1.5rem; 
        line-height: 2rem; 
        font-weight: 500;
    }
}
.article-about__article__1, .article-about__article__2, {
    font-size: 0.8125rem; 
    line-height: 1.125rem; 
    font-weight: 400;
    @include respond-to(tablet) {
        font-size: 0.875rem; 
        line-height: 1.375rem; 
        font-weight: 400;
    }
}

.article-about__quote {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 600;
    @include respond-to(tablet) {
        font-size: 1.5rem; 
        line-height: 2rem; 
        font-weight: 700;
    }
}

.footer_end p {
    font-size: 0.625rem; 
    line-height: 1.25rem; 
    @include respond-to(tablet) {
        font-size: 0.75rem; 
        line-height: 1.25rem; 
    }
}

.footer_3 h3 {
    @include respond-to(tablet) {
        font-size: 2.25rem; 
        line-height: 2.75rem; 
        font-weight: 700;
    }
}

.footer_info p {
    font-size: 0.8125rem; 
    line-height: 1.125rem; 
    font-weight: 400;
    @include respond-to(tablet) {
        font-size: 0.875rem; 
        line-height: 1.25rem; 
        font-weight: 400;
    }
}

.article-about__title, .photo-gallery__title {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 500; 
    @include flex-center(row, flex-start);
    width: 100%;
    @include respond-to(tablet) {
        font-size: 2.25rem; 
        line-height: 2.75rem; 
        font-weight: 500;
    }
}

.article-about__title_2 {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 500; 
    @include flex-center(row, flex-start);
    width: 100%;
    @include respond-to(tablet) {
        font-size: 1.5rem; 
        line-height: 2rem; 
        font-weight: 500;
    }
}

.navigation {
    background: $color-background-dark;
    text-align: center;
    padding-top: 1rem;
    @include respond-to(tablet) {
        align-content: center;
        height: 8rem;
    @include flex-center(row);
    @include respond-to(tablet) {
        align-items: center;
    }
}
}

.navigation_logo {
    width: 200px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;

    @include respond-to(tablet) {
        margin: 0 2vh;
    }
    @include respond-to(desktop) {
        margin: 0 4vh 0 6vh;
    }
}

.navigation_logo__img {
    background: url('../Assets/Logo/Logo-bandsite.svg') no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;

    @include respond-to(tablet) {
        padding-top: 0.6vh;
        max-width: 80%;
        max-height: 80%;
    }
}

.navigation_links {
    @include flex-center(row, space-around);
    @include respond-to(tablet) {
        flex-grow: 1;
        justify-content: flex-start;
        gap: 3rem;
    }
}

.navigation_link {
    flex: 1;
    text-align: center;
    @include respond-to(tablet) {
        flex: none;
    }
}

.navigation_link a {
    text-decoration: none;
    color: $color-text-white;
}

.navigation_link h2 {
    margin: 0; 
    padding: 10px 0;
}
.navigation_link__shows h2 {
    color: $color-primary;
}
.current-page h2 {
    
    border-bottom: 5px solid $color-highlight;
}

.hero-banner {
    background-image: url('../Assets/Images/hero-bio.jpg');
    background-size: cover;
    background-position: center;

    @include flex-center(column, center, center);
    height: 20rem; 
    max-width: 100%;
    position: relative;
    overflow: hidden;

    @include respond-to(tablet) {
        height: 40rem;
    }
}

.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1;
}

.hero-banner__text {
    position: relative;
    z-index: 2;
    color: $color-text-white;
    @include flex-center(row, flex-start);
    height: 50vh;
    width: 90%;
    @include respond-to(tablet) {
        font-size: 3.75rem;  
        line-height: 4.25rem; 
        font-weight: 700; 
    }
}

.article-about {
    background-size: cover;
    background-position: center;
    @include flex-center(column, flex-start);
}

.article-about__img {
    @include flex-center;
    height: auto;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include respond-to(tablet) {
        max-width: 700px;
    }
    @include respond-to(desktop) {
        max-width: 1200px;
    }
}

.article-about__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.article-about__artikles {
    @include respond-to(tablet) {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 2rem;
    }
}

.article-about__article__2 {
    padding-bottom: 16px;
    padding-top: 16px;
    @include respond-to(tablet) {
        padding-bottom: 0px;
    }
}
.article-about__quote {
    @include respond-to(desktop) {
        padding-right:18%;
    }
}
.photo-gallery {
    @include flex-center(column, center);
    @include respond-to(tablet) {
        @include flex-center(row,space-between)
    }
}

.gallery {
    background-color: #FAFAFA;
    padding: 5px 0;
}

.gallery-photo {
    @include respond-to(tablet) {
        @include flex-center(row);
        flex-wrap: wrap;
        gap: 20px;
    }
}
.gallery-photo__img {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    margin: 10px 0;

    @include respond-to(tablet) {
        width: 220px;
        height: 120px;
    }
    @include respond-to(desktop) {
        width: 400px;
        height: 240px;
    }
}

.padded-section {
    padding-left: 20px;
    padding-right: 20px;

    @include respond-to(tablet) {
        padding-left: 6vh;
        padding-right: 6vh;
    }
    @include respond-to(desktop) {
        padding-left: 12vh;
        padding-right: 12vh;
    }
}

.article-about__board {
    @include respond-to(tablet) {
        padding-left: 2vh;
        padding-right: 2vh;
    }
    @include respond-to(desktop) {
        padding-left: 4vh;
        padding-right: 4vh;
    }
}

.footer_info {
    background: $color-background-dark;
    color: $color-text-white;
    @include respond-to(tablet) {
        padding-top: 5vh;
        flex-direction: row;
        flex-grow: 1;

    }
}
.footer_5_logo img {
    @include respond-to(tablet) {
        margin-left: 130px;
    }
    @include respond-to(desktop) {
        margin-left: 100%;

    }
}

.footer_end {
    @include respond-to(desktop) {
        flex-basis: 100%;
        flex-shrink: 0;
    }
}

.footer_info_section_2 {
    @include respond-to(tablet) {
        @include flex-center(row, flex-start);
        column-gap: 30px;
        flex-wrap: wrap;
        flex-basis: 900px;
        flex-grow: 0;
        align-items: last baseline;
    }
}
.footer_1__social a {
    margin-right: 30px;
    @include respond-to(tablet) {
        
    }

}
.footer_logo__bandsite__mobile, .desktop_hidden {
    @include respond-to(tablet) {
        display: none; 
    }
    @include respond-to(desktop) {
        display: none; 
    }
}

.footer_logo__bandsite, .mobile_hidden {
    display: none; 
    @include respond-to(tablet) {
        display: contents; 
        margin-right: 300px; 
    }
    @include respond-to(desktop) {
        display: contents; 
    }
}
.footer_end {
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.footer_info a {
    text-decoration: none; 
    color: $color-text-white; 
}

.footer_info { 
    @include respond-to(desktop) {
        position: relative;
    }
}

.footer_5_logo {
    @include respond-to(desktop) {
        padding-top: 4rem;
        position: absolute;
        top: 0; 
        right: 0; 
        display: block;
    }

}
.Footer_social_one_line img {
    padding-bottom: 5px;
}